/* zonascriticas/static/css/global.css */
/* AQUI VAN TODAS NUESTRAS VARIABLES GLOBALES */

:root {
    --color-primario: #352460;
    --color-primario-hover: #4a3283;
    --color-secundario: #6c757d;
    --color-borde: #dee2e6;
    --color-fondo: #f8f9fa;
    --color-superficie: #ffffff;
    --color-texto-principal: #212529;
    --color-texto-secundario: #6c757d;
    --sombra-suave: 0 4px 12px rgba(0, 0, 0, 0.05);
    --radio-borde: 12px;
}